<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1>All the cocktails</h1>
      <ul>
      <% @cocktails.each do |cocktail| %>
        <li>
          <%= cocktail.name %><br>
          First ingredient:<br>
          <%= cocktail.doses.first.description %>
          <%= cocktail.doses.first.ingredient.name %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>

