.footer-wrapper {
  background-color: #333;
  height: 100px;
  color: #CCCCCC;
  position:absolute;
  bottom:0;
  width:100%;
}
.footer {
  // padding: 30px 0 0 0;
}
.footer ul {
  margin: 30px 0 0 -25px;
}
.footer li {
  display: inline-block;
  letter-spacing: 20px;
  padding: 5px;
}
