<div class="footer-wrapper">
  <div class="footer">
    <ul>
      <li>
        <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-2x fa-youtube" aria-hidden="true"></i>
      </li>
    </ul>
  </div>
</div>
