/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
body { padding-top: 70px; }

#body-wrapper{
  min-height:91vh;
  position: relative;
 }

#yield-wrapper{
  padding-bottom:100px;
}
.destroy{
  color: $red;
}
