.btn-cocktail {
  color: #FFFFFF;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #892E45;
  transition: background 0.3s ease;
}
.btn-cocktail:hover {
  opacity: 1;
  background: #892E45;
  text-decoration: none;
  color: #FFFFFF;
}
